services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: credit-risk-api
    ports:
      - "8000:8000"

  streamlit:
    build:
      context: .
      dockerfile: streamlit.Dockerfile
    container_name: credit-risk-ui
    depends_on:
      - api
    environment:
      - API_URL=http://api:8000/predict
    ports:
      - "8501:8501"